h3 {
    font-size: 18px;
}

.pic-container {
    display: flex;
    justify-content: center;
}

.pic-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#picDiv-item-item {
    margin-right: 15px;
}